<div class="note-editor" *ngIf="selectedNote$ | async;">
    <div class="note-editor__controls">
        <app-button (click)="onClickView()" [selected]="selectedControl === editorControls.Viewer">View</app-button>
        <app-button (click)="onClickEdit()" [selected]="selectedControl === editorControls.Editor">Edit</app-button>
        <div class="note-editor__controls-right-container">
            <app-button>Add Tag</app-button>
            <app-button (click)="onClickDelete()">Delete</app-button>
        </div>
    </div>

    <div class="note-editor__editor-container">

        <div class="note-editor__form" [formGroup]="noteForm" *ngIf="selectedControl === editorControls.Editor">
            <textarea class="note-editor__edit" formControlName="content"></textarea>
        </div>

        <div class="note-editor__viewer" *ngIf="selectedControl === editorControls.Viewer">
            <markdown [data]="noteMarkdownContent"></markdown>
        </div>

    </div>


</div>

