<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand">
        devnotes
    </div>
    <div class="toolbar__note-list-header">
        <button
                *ngIf="deleteAreYouSure === false"
                id="deleteButton"
                class="btn btn-light toolbar__note-list-header-btn"
                (click)="toggleDeleteAreYouSureOn()">
            x
        </button>

        <button
                *ngIf="deleteAreYouSure === true"
                id="deleteButtonAreYouSure"
                class="btn btn-danger toolbar__note-list-header-btn"
                (click)="onClickDelete()"
                (cancel)="toggleDeleteAreYouSureOff()">
           ?
        </button>

        <button type="button" class="btn btn-light" (click)="onClickNew()">
            +
        </button>
    </div>
    <div class="toolbar__note-editor-header">
        <div *ngIf="(noteSaving$ | async) === true" class="toolbar__saving">
            saving note...
        </div>
    </div>
</div>
