.toolbar {
    padding: 10px 0 10px 0;
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    color: var(--white);
}

.toolbar__brand {
    margin-left: 17px;
}

.toolbar__folder-list-header {
    padding-left: 17px;
    width: 150px;
}

.toolbar__note-list-header {
    width: 150px;
    padding-left: 45px;
}

.toolbar__note-list-header-btn {
    margin-right: 5px;
}

.toolbar__note-editor-header {
    margin-left: auto;
    margin-right: 10px;
}

.toolbar__button {
    border: 1px var(--foreground-primary) solid;
    outline: none;
    background: transparent;
    border-radius: 2px;
    margin-right: 7px;
}

.toolbar__button--destroy {
    background: red;
}
