<div class="toolbar">
    <div class="toolbar__brand-container">
        <app-brand></app-brand>
    </div>
    <div class="toolbar__note-list-header-container">
        <div class="toolbar__note-list-header">
            <app-note-sort-toggle [currentNoteOrderBy]="currentNoteOrderBy$ | async" (sortClick)="onSortClick($event)"></app-note-sort-toggle>
        </div>
    </div>
    <div class="toolbar__right-container">
        <app-search-input class="toolbar__search"></app-search-input>
        <div *ngIf="(noteSaving$ | async) === true" class="toolbar__saving">
            <app-spinner></app-spinner>
        </div>
    </div>
</div>
