<div class="toolbar">
    <div class="toolbar__folder-list-header">
        devnotes
    </div>
    <div class="toolbar__note-list-header">
        <button
                *ngIf="deleteAreYouSure === false"
                id="deleteButton"
                class="toolbar__button"
                (click)="toggleDeleteAreYouSureOn()">
            x
        </button>

        <button
                *ngIf="deleteAreYouSure === true"
                id="deleteButtonAreYouSure"
                class="toolbar__button toolbar__button--destroy"
                (click)="onClickDelete()"
                (cancel)="toggleDeleteAreYouSureOff()">
           ?
        </button>

        <button class="toolbar__button" (click)="onClickNew()">
            +
        </button>
    </div>
    <div class="toolbar__note-editor-header">
        <div *ngIf="(noteSaving$ | async) === true" class="toolbar__saving">
            saving note...
        </div>
    </div>
</div>
