.note-list {
    height: 100%;
    width: var(--note-list-min-width);
    display: flex;
    flex-direction: column;
    background: var(--background-primary);
    border-right: 1px solid var(--background-secondary);
}

.note-list__notes {
    flex: 1;
}


.note-list__create-note {
    margin: 5px;
    display: flex;
}

.note-list__create-note-button {
    width: 100%;
    flex: 1;
}
