<app-modal
        title="Create note"
        [onClose]="onClose"
        [onSave]="onSave"
        [saving$]="loading$"
        [savingDisabled]="this.form.invalid">

    <form [formGroup]="form" (ngSubmit)="onSave()">
        <div class="form-group">
            <label for="name">
                Name:
            </label>
            <input
                    [ngClass]="{
                    'is-invalid': this.form.get('content').dirty
                                  && this.form.get('content').invalid
                    }"
                    type="text"
                    class="form-control"
                    placeholder="Note name"
                    formControlName="content"
                    id="name" />
        </div>
    </form>
</app-modal>

