<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
</div>

<div class="modal-body">

    <ng-content>
    </ng-content>

    <div *ngIf="(saving$ | async) === true">
        Processing...
    </div>
</div>

<div class="modal-footer">
    <app-button (click)="onClose()">Close</app-button>
    <app-button
            *ngIf="onSave"
            [type]="'primary'"
            [disabled]="savingDisabled || (saving$ | async) === true"
            (click)="onSave()">
        Save
    </app-button>
    <app-button
            *ngIf="onDelete"
            [type]="'danger'"
            [disabled]="savingDisabled || (saving$ | async) === true"
            (click)="onDelete()">
        Delete
    </app-button>
</div>
