<div class="login-page">
    <div class="login-form-container list-group-item list-group-item-light">
        <h3 class="brand-title text-dark">Devnotes</h3>
        <form class="login-form">
            <div class="form-group">
                <label  for="usernameFormInput">Username</label>
                <input [(ngModel)]="usernameFormInput" name="usernameFormInput" type="text" class="form-control" id="usernameFormInput" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="passwordFormInput">Password</label>
                <input [(ngModel)]="passwordFormInput" name="passwordFormInput" type="text" class="form-control" id="passwordFormInput" placeholder="Password">
            </div>
            <button (click)="submitForm()" type="button" class="login-form-btn btn btn-primary">Login</button>
        </form>
    </div>
</div>
