:root {
    --foreground-primary: #171717;
    --foreground-primary-hover: #e8e8e8;
    --background-primary: #f7f7f7;
}

html, body {
    height: auto;
    margin: 0;
    overflow: auto;
    color: var(--foreground-primary);
    background: var(--background-primary);
}

app-root {
    display: block;
    height: 100%
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100vh;}
