:root {
    --foreground-primary: #171717;
    --foreground-primary-hover: #e8e8e8;

    --background-primary: #f7f7f7;
    --background-secondary: #e3e3e2;
    --background-secondary-hover: #d4d4d4;

    --list-min-width: 175px;
    --note-list-min-width: 200px;

    --teal-light: rgba(26, 188, 156, 0.1);
    --teal-light-hover: rgba(26, 188, 156, 0.2);
    --teal: #1abc9c;
    --teal-dark: #16a085;

    --green: #2ecc71;
    --green-dark: #27ae60;
    --blue: #3498db;
    --blue-dark: #2980b9;
    --purple: #9b59b6;
    --purple-dark: #8e44ad;
    --black: #34495e;
    --black-dark: #2c3e50;
    --yellow: #f1c40f;
    --yellow-dark: #f39c12;
    --orange: #e67e22;
    --orange-dark: #d35400;
    --red: #e74c3c;
    --red-dark: #c0392b;
    --white: #ecf0f1;
    --white-dark: #bdc3c7;
    --gray: #95a5a6;
    --gray-dark: #7f8c8d;
}

html, body {
    height: auto;
    margin: 0;
    overflow: hidden;
    color: var(--foreground-primary);
    background: var(--background-primary);
}

* {
    box-sizing: border-box;
}

app-root {
    display: block;
    height: 100%
}

body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100vh;}

/* TODO quill hack */
/* gets overwritten in component, and the third party lib isn't respecting padding */
.ql-container {
    height: calc(100% - 105px) !important;
}

.modal-content {
    border: none;
}

.form-control:focus {
    border-color: var(--teal-light-hover);
    box-shadow: 0 0 0 0.2rem var(--teal-light);
}
