.dashboard-page {
    height: 100%;
}

.dashboard-page__toolbar {
    margin-bottom: 10px;
}

.dashboard-page__main {
    display: flex;
    height: 100%;
}

.dashboard-page__content {
}

.dashboard-page__nav {
    min-width: 150px;
    height: 100%;
}
