.dashboard-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dashboard-page__toolbar {
    margin-bottom: 10px;
}

.dashboard-page__main {
    display: flex;
    flex: 1
}

.dashboard-page__content {
}

.dashboard-page__nav {
    height: 100%;
}
