.folder-list {
    height: 100%;
}

.folder-list__item {

}

.folder-list__item--selected {
    background: lightgray;
}

.folder-list__button {
    border: none;
    outline: none;
    background: transparent;
}

