.folder-list {
    height: 100%;
    border-right: 1px var(--foreground-primary) solid;
    display: flex;
    flex-direction: column;
}

.folder-list__folders {
    flex: 1;
}

.folder-list__item {
    padding: 0 10px 0 10px;
}

.folder-list__item--selected {
    background: var(--foreground-primary-hover);
}

.folder-list__button {
    border: none;
    outline: none;
    background: transparent;
}

.folder-list__create-folder {

}

.folder-list__create-folder-button {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 5px;
    border-top: 1px var(--foreground-primary) solid;
}

.folder-list__create-folder-button:active {
    background: var(--foreground-primary-hover);
}

