<div class="folder-list">
    <app-loadable-errorable [loading$]="loading$" [error$]="error$" class="folder-list__folders">
        <div *ngFor="let folder of folders$ | async"
        >
            <app-list-item (click)="onClickFolder(folder)" [selected]="folder.id === selectedFolderId">
                {{ folder.name }}
            </app-list-item>
        </div>
    </app-loadable-errorable>
    <div class="folder-list__create-folder">
        <app-button (click)="onClickNewFolder()" class="folder-list__create-folder-button">
            New Folder
        </app-button>
    </div>
</div>
