<div class="folder-list">
    <app-loadable-errorable [loading$]="loading$" [error$]="error$" class="folder-list__folders">
        <div *ngFor="let folder of folders$ | async" class="folder-list__item" [ngClass]="{'folder-list__item--selected': folder.id === selectedFolderId }"
        >
            <button class="folder-list__button" (click)="onClickFolder(folder)">
                {{ folder.name }}
            </button>
        </div>
        <app-create-folder></app-create-folder>
    </app-loadable-errorable>
    <div class="folder-list__create-folder">
        <button (click)="onClickNewFolder()" class="btn folder-list__create-folder-button">
            New Folder
        </button>
    </div>
</div>
